<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pokédex</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerDirection]="['/favorites']">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar 
      []="searchControl"
      placeholder="Search Pokémon..."
      animated
      debounce="500"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row>
      <ion-col 
        size="6" 
        size-md="4" 
        size-lg="3" 
        *ngFor="let pokemon of filteredPokemons; trackBy: trackByPokemonId"
      >
        <app-pokemon-card
          [pokemon]="pokemon"
          (favoriteToggled)="toggleFavorite($event.pokemon, $event.event)"
          (click)="goToDetails(pokemon.id)"
        ></app-pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadPokemons($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more Pokémons..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-toast
    [isOpen]="filteredPokemons.length === 0 && !loading"
    message="No Pokémons found"
    duration="2000"
  ></ion-toast>
</ion-content>