<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pokédex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="home-container">
    <img src="assets/pokeball.png" alt="Pokéball" class="logo">
    <h1>Bem-vindo à Pokédex</h1>
    <p>Explore o mundo dos Pokémon</p>
    
    <ion-button expand="block" routerLink="/pokemon-list" class="start-button">
      Começar
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>